{% extends "::base.html.twig" %}

{% block title %}ContactBookBundle:Person:showAll{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class='col-md-4'>
                </div>
                <div class='col-md-5'>
                    <h1 class='display-3'>Contact Book</h1>
                    <p style="padding-top:20px;">Choose contact to show more details.</p>
                </div>
                <div class='col-md-3'>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class='col-md-4'>
            </div>
            <div class='col-md-5'>
                <a href="/new" class="btn btn-success" style='float:right;'>Add new contact</a><br><br>
                <ul class="list-group">
                    {%for person in contacts %}
                        <li class="list-group-item" style='background-color: lightgray;'>
                            <p style='font-size:20px;'>
                                <a href="/{{person.id}}">{{person.name}} {{person.lastName}}</a>
                                <a href="/{{person.id}}/delete" class="btn btn-danger" style='float: right'>Delete</a>
                                <a href="/{{person.id}}/modify" class="btn btn-primary" style='float: right;'>Edit</a>
                            </p>
                        </li>
                    {%endfor%}
                </ul>
            </div>
            <div class='col-md-3'>
            </div>
        </div>
    </div>

{% endblock %}
